// @import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
.wrapper {
    display: flex;
    flex-flow: column wrap;
    color: #2f3542;
    text-align: center;
    background-image: url("/backgroundMain.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
    padding: 200px 200px;
}
.headerMain {
    padding-bottom: 40px;
}
.header {
    padding: 10px;
}
.date{
    padding-bottom: 10px;
}
