@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
.wrapper {
    height: 100vh;
    background-image: url("/backgroundWeddingApp.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landingHeader {
    color: #f1f2f6;
    font-family: 'Parisienne', cursive !important;
    text-shadow: 2px 2px 0 #7a7a7a;
    font-size: 6rem !important;
    // transform: scale(2, 2);
}
